body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.pageView {
  display: flex;
  flex-direction: row;
  width: 2160px;
  height: 1920px;
}

.page {
  width: 1080px;
  height: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.leftPage {
  /* background-color: orange; */
}

.rightPage {
  /* background-color: skyblue; */
}

video {
  position: absolute;
  width: 2160px;
  height: 1920px;
}